<%= form_with model: [ @article, @comment ] do |form| %>
  
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @comment.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  </p>
<p>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
</p>
<p>
    <%= form.submit %>
  </p>
<% end %>
