<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h1>Comment Details</h1>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<ul>
  <% if user_signed_in? && current_user == @comment.user %>
    <li><%= link_to 'Edit', edit_article_comment_path(@article, @comment) %></li>
    <li><%= link_to 'Destroy', article_comment_path(@article, @comment), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
  <% end %>
</ul>