<%= form_with model: article, class: "mt-4" do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: "form-select" %>
  </div>

  <div class="mt-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
