<h1>Articles</h1>

<%= link_to "Сортировать по дате (по возрастанию)", articles_path(field: 'created_at', sort_type: 'asc') %>
<%= link_to "Сортировать по дате (по убыванию)", articles_path(field: 'created_at', sort_type: 'desc') %>

<br>

<%= link_to "Сортировать по названию (по возрастанию)", articles_path(field: 'title', sort_type: 'asc') %>
<%= link_to "Сортировать по названию (по убыванию)", articles_path(field: 'title', sort_type: 'desc') %> 

<div id="articles">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <div class="article-item">
        <h2><%= link_to article.title, article_path(article) %></h2>
        <p>Автор: <%= article.user.first_name %></p>
        <p>Количество комментариев: <%= article.comments.count %></p>   
        <% if user_signed_in? && current_user == article.user %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to "Destroy", article_path(article), data: { 
            turbo_method: :delete,
            turbo_confirm: "Are you sure?" 
          } %> 
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if current_user %>
  <%= link_to 'New Article', new_article_path %>
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
  <%= link_to 'Search User', users_path %>
  <%= link_to 'Входящие запросы', incoming_requests_friendships_path %>
  <%= link_to 'Отправленные запросы', sent_requests_friendships_path %>
  <%= link_to 'Мои друзья', friends_users_path %>

  <% end %>

  <%= paginate @articles %>
</div>
