<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
    <% if allowed_to?(:edit?, @article) %>
      <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <% end %>
    <% if allowed_to?(:destroy?, @article) %>
      <li><%= link_to "Destroy", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %></li>
    <% end %>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<% if user_signed_in? %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<% end %>
