<h1><%= @article.title %></h1>

<div class="article-info">
 
  <div class="author-details">
    <p>Автор: <%= @article.user.first_name %></p> 
  </div>
  <div class="author-avatar">
  <% if @article.user.avatar.attached? %>
    <%= image_tag @article.user.avatar_thumbnail, class: 'avatar' %>
  <% else %>
    <%= image_tag 'default_avatar.webp', size: '200x200', class: 'avatar' %> 
  <% end %>
</div> 
</div>

<div class="body">
    <h2>Body</h2> 
</div>
<p><%= @article.body %></p>

<ul>
    <% if allowed_to?(:edit?, @article) %>
      <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <% end %>
    <% if allowed_to?(:destroy?, @article) %>
      <li><%= link_to "Destroy", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %></li>
    <% end %>
</ul>

<h3>Comments</h3>
<%= render @comments %>
<%= paginate @comments %>

<% if user_signed_in? %>
<h3>Add a comment:</h3>
<%= render 'comments/form' %>
<% end %> 

