<article class="card mt-4">
  <div class="card-body">
    <h1 class="card-title"><%= @article.title %></h1>

    <section class="card-text">
      <p><%= @article.body %></p>
    </section>

    <div class="mt-3">
      <% if allowed_to?(:edit?, @article) %>
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-secondary" %>
      <% end %>
      <% if allowed_to?(:destroy?, @article) %>
        <%= link_to "Destroy", article_path(@article), class: "btn btn-danger",
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</article>

<section class="mt-5">
  <h2>Comments</h2>
  <%= render @article.comments %>

  <% if user_signed_in? %>
    <div class="mt-4">
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>
    </div>
  <% end %>
</section>
