<h1 class="mb-4">Edit Profile</h1>

<%= form_with model: @user, local: true, html: { class: 'profile-form', multipart: true } do |form| %>
  <div class="profile-info d-flex flex-column align-items-start gap-4">
    <div class="avatar-container mb-4">
      <div class="avatar">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize_to_limit: [200, 200]), alt: "User Avatar", class: "user-avatar img-fluid" %>
        <% else %>
          <%= image_tag 'default_avatar.webp', size: '200x200', class: 'user-avatar img-fluid' %> 
        <% end %>
      </div>
      <div class="file-upload mt-3">
        <%= form.label :avatar, class: 'form-label' %>
        <%= form.file_field :avatar, class: 'form-control-file' %>
      </div>
    </div>

    <div class="details w-100">
      <div class="field mb-3">
        <%= form.label :first_name, class: 'form-label' %>
        <%= form.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="field mb-3">
        <%= form.label :last_name, class: 'form-label' %>
        <%= form.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="field mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control' %>
      </div>

      <div class="field mb-3">
        <%= form.label :age, class: 'form-label' %>
        <%= form.number_field :age, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions text-start mt-4">
    <%= form.submit 'Update Profile', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
