<h1>Входящие запросы на дружбу</h1>

<% if @incoming_requests.any? %>
  <ul>
    <% @incoming_requests.each do |request| %>
      <li>
        <% user = request.user %>
        <% if user.avatar.attached? %>
          <%= image_tag(user.avatar, size: '100x100') %>
        <% end %>
        <%= user.first_name %> <%= user.last_name %> (<%= user.email %>)

        <%= button_to 'Принять', friendship_path(request), method: :patch %>
        <%= button_to 'Отклонить', friendship_path(request), method: :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Нет входящих запросов на дружбу.</p>
<% end %>
