<h1>Отправленные запросы на дружбу</h1>

<% if @sent_requests.any? %>
  <ul>
    <% @sent_requests.each do |request| %>
      <li>
        <% friend = request.friend %>
        <% if friend.avatar.attached? %>
          <%= image_tag(friend.avatar, size: '100x100') %>
        <% end %>
        <%= friend.first_name %> <%= friend.last_name %> (<%= friend.email %>)

        <%= button_to 'Отменить запрос', friendship_path(request), method: :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Нет отправленных запросов на дружбу.</p>
<% end %>
