<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1>Blog</h1> 
        <div class="text-right">
          <% if user_signed_in? %>
            <p>Welcome, <%= current_user.first_name %>!</p>
            <%= button_to 'Выход', destroy_user_session_path, method: :delete, class: 'my-custom-button' %>
          <% else %>
            <%= link_to 'Вход', new_user_session_path, class: 'my-custom-button' %>
            <%= link_to 'Регистрация', new_user_registration_path, class: 'my-custom-button' %>
          <% end %>
        </div>
      </div>
    </header>

    <main class="container"> 
      <%= yield %> 
    </main>

    <footer class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; <%= Time.now.year %> My Blog</p>
        </div>
        </div>
    </footer>
  </body>
</html>
